.principal {
  padding-bottom: 40px;
  padding-top: 50px;
  background-color: #ff731d;
}
/*** ESTILOS BOTÓN GROW BOX ***/
.ov-btn-grow-box {
  background: #fff; /* color de fondo */
  color: #4741d7; /* color de fuente */
  border: 2px solid #4741d7; /* tamaño y color de borde */
  padding: 16px 20px;
  border-radius: 3px; /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  margin: 10px;
  text-align: center;
  letter-spacing: 3px;
  text-decoration: none;
  font-family: 'Alkalami', serif;
}
.ov-btn-grow-box:hover {
  color: #fff; /* color de fuente hover */
}
.ov-btn-grow-box::after {
  content: '';
  background: #4741d7; /* color de fondo hover */
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: scale(0, 0);
  transition: all 0.3s ease;
}
.active {
  background: #4741d7; /* color de fondo hover */
  color: #fff;
  text-transform: uppercase;
}
.desactive {
  background: #fff; /* color de fondo */
  color: #4741d7; /* color de fuente */
}
.ov-btn-grow-box:hover::after {
  transition: all 0.3s ease-out;
  transform: scale(1, 1);
}
.carrito {
  width: 38px;
  position: absolute;
  right: 24px;
  top: 14px;
}
.redes{
  display: flex ;
  align-items: center ;
  justify-content: center ;
  
}
ul li{
  list-style: none;
  margin-right: 5px;
 
}
